*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 20%);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

section{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container{
    padding: 20px;
    color: white;
    background-color: hsl(0, 0%, 12%);
    width: 350px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img{
    height: 80px;
    border-radius: 70px;
}
.text{
    margin: 10px;
    
}
.text h1{
    margin-bottom: 7px;
}
span{
    color:Green;
    font-weight: bold;
  
}

ul li{
    list-style: none;
    padding: 15px;
    background-color: hsl(0, 0%, 8%);
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    cursor: pointer;
    font-weight: 700;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

ul li:hover{
    list-style: none;
    padding: 15px;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    cursor: pointer;
    
}

ul li a:hover{
    color: hsl(0, 0%, 8%);
}

.attribution{
    color: white;
    margin-top: 20px;
}